/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #009a88 0%,
        #009a88 15%,
        #d9dbd4 15%,
        #d9dbd4 100%
    );
}

/* UTILITIES */
.side-header,
.cont-header {
    background: #eaeaea;
}

.cont-header,
.cont-footer {
    padding: 6px;
}

.side-header img,
.cont-header img {
    cursor: pointer;
}

.side-header img,
.cont-header img, 
.contact img,
.side-header p,
.cont p,
.contact p,
.cont-header p,
.side-header .fa-circle-notch,
.cont .fa-bell-slash,
.cont-header .profile,
.cont-header span,
.cont-main .message.received,
.message.sent .message-text,
.message.received .message-text,
.message.sent .message-time,
.message.received .message-time,
.cont-footer .fa-smile,
.cont-footer .write-message {
    float: left;
}

.cont-header .actions,
.cont-main .message.sent,
.cont-footer .fa-microphone {
    float: right;
}

.side-header .fa-circle-notch,
.side-header .fa-comment-alt,
.side-header .fa-ellipsis-v,
.actions .fa-search,
.actions .fa-paperclip,
.actions .fa-ellipsis-v {
    color: #b1b1b1;
    font-size: 20px;
}

.search input:focus,
.cont-footer input:focus {
    border: 2px solid #007fff;
}

.sidebar::after,
.side-header::after,
.content::after {
    content: '';
    display: table;
    clear: both;
}

/* LAYOUT */
.container {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #fff;
}

/* SIDEBAR, SIDE HEADER */
.sidebar {
    flex-basis: 35%;
    background: #ffffff;
}

.side-header {
    padding: 6px 10px 10px;
    border-right: 1px solid #ccc;
}

.side-header img {
    width: 50px;
    margin-top: 2px;
    border-radius: 30px;
}

.side-header p {
    margin-left: 12px;
    margin-top: 18px;
}

/* ICONS 1*/
.side-header .fa-circle-notch {
    margin-left: 50%;
    margin-top: 18px;
}

.side-header .fa-comment-alt {
    margin-top: 19px;
    margin-left: 16px;
}

.side-header .fa-ellipsis-v {
    margin-left: 15px;
}

/* SIDE-HEADER-NOT, CONT, CONT-LINK*/
.side-header-not {
    height: 78px;
    background: #78ddfe;
}

.cont {
    padding: 8px 10px 0 15px;
}

.cont .fa-bell-slash {
    width: 50px;
    height: 49px;
    padding: 14px 13px;
    margin-top: 8px;
    color: #78ddfe;
    background: #fff;
    border-radius: 30px;
    font-size: 20px;
}

.cont p {
    margin-left: 10px;
    margin-top: 8px;
}

.cont-link {
    width: 300px;
    height: 300px;
}

.cont-link a {
    padding: 0 0 0 10px;
    color: #457686;
}

/* SEARCH, ICON*/
.search {
    width: 100%;
    height: 46px;
    padding: 5px;
    background: #fafafa;
}

.search input {
    width: 528px;
    height: 35px;
    padding: 0 80px;
    background: #fff;
    border: 1px solid #dddd;
}

.search .fa-search {
    position: absolute;
    right: 87%;
    margin-top: 10px;
    color: #b5b9bb;
}

/* CONTACTS */
.contacts {
    width: 538px;
    height: 300px;
    overflow-y: auto;
}

.contact {
    height: 75px;
    border-bottom: 1px solid #dddd;
}

.contact img {
    width: 60px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 30px;
}

.contact p {
    margin-top: 30px;
    margin-left: 18px;
}

.contact:hover {
    background: #e9ebeb;
    cursor: pointer;
}

/* CONTENT (header, main, footer) */
.content {
    flex-basis: 65%;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
}

/* HEADER */
.cont-header .profile {
    width: 288px;
    height: 56px;
}

.cont-header img {
    width: 50px;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 30px;
}

.cont-header p {
    margin-top: 6px;
}

.cont-header p,
.cont-header span {
    margin-left: 12px;
}

.cont-header span {
    margin-top: 2px;
    color: #7b8386;
}

/* ICONS 2*/
.cont-header .actions {
    width: 86px;
    height: 22px;
    margin-right: 14px;
    margin-top: 18px;
}

.actions .fa-paperclip,
.actions .fa-ellipsis-v {
    margin-left: 15px;
}

/* MAIN */
.cont-main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.cont-main .message.sent {
    width: 370px;
    margin-right: 14%;
    background: #ccfbb5;
}

.cont-main .message.sent,
.cont-main .message.received {
    height: 65px;
    margin-top: 8px;
    border-radius: 10px;
}

.cont-main .message.received {
    width: 340px;
    margin-left: 13%;
    background: #fff;
}

.message.sent .message-text,
.message.received .message-text {
    margin-left: 15px;
    margin-top: 18px;
}

.message.sent .message-time {
    margin-left: 67%;
}

.message.sent .message-time,
.message.received .message-time {
    margin-top: 6px;
    font-size: 12px;
    color: #b9bcbe;
}

.message.received .message-time {
    margin-left: 64%;
}

/* FOOTER */
.cont-footer { 
    background: #f4eeea;
}

.write-message {
    width: 83%;
    margin-left: 5px;
}    

.write-message,
.cont-footer input {
    height: 45px;
}

.cont-footer input {
    width: 100%;
    padding: 0 12px;
    background: #fff;
    border: 1px solid #dddd;
    border-radius: 6px;
}

.cont-footer .fa-smile {
    margin-left: 28px;
}

.cont-footer .fa-smile, 
.cont-footer .fa-microphone {
    width: 50px;
    margin-top: 10px;
    color: #777f82;
    font-size: 25px;
}