<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css' />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue JS   -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!-- Inzio esercizio Boolzapp Milestone 1 -->

    <div id="app" class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <section class="side-header">
                <!-- My avatar -->
                <div v-for="user" class="profile">
                    <img 
                        :src="`./img/avatar${user.avatar}.jpg`" 
                        :alt="user.name"
                    >
                    <p>{{user.name}}</p>
                </div>
                <!-- Icons 1-->
                <a href="#"><i class="fas fa-circle-notch"></i></a> 
                <a href="#"><i class="fas fa-comment-alt"></i></a>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </section>

            <!-- Section notifications (icon, text, link)-->
            <section class="side-header-not">
                <div class="cont">
                    <i class="fas fa-bell-slash"></i>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <div class="cont-link">
                       <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
            </section>

            <!-- Section search -->
            <section class="search">
                <input type="text" 
                placeholder="Cerca o inizia una nuova chat">
                <a href="#"><i class="fas fa-search"></i></a>
            </section>
            
            <!-- Contact list -->
            <div class="contacts">
               <div v-for="(contact, index) in contacts" 
                    :class="['contact', index === activeContact ? 'active' : '']" 
                    @click="setActiveContact(index)" 
               >
                    <img :src="`./img/avatar${contact.avatar}.jpg`" 
                         :alt="contact.name"
                    >
                    <p>{{contact.name}}</p>
               </div>
            </div>
        </aside>

        <main class="content">
            <!-- Section header -->
            <section class="cont-header">
                <!-- Chat window -->
                <div class="profile">
                    <img class="avatar"
                        :src="`./img/avatar${contacts[activeContact].avatar}.jpg`" 
                        :alt="contacts[activeContact].name"
                    >
                    <p>{{contacts[activeContact].name}}</p>
                    <span>Ultimo accesso oggi alle 10.35</span>
                </div>
                <!-- Icons 2 -->
                <div class="actions">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="fas fa-paperclip"></i></a>
                    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>
            </section>
            
            <!-- Section message -->
            <section class="cont-main">
                <div v-for="message in contacts[activeContact].messages" 
                    :class="['message', message.status]"
                >
                
                    <span class="message-text">
                        {{message.message}}
                    </span>
                        
                    <span class="message-time">
                        {{message.date}}
                    </span>
                </div>
            </section> 

            <!-- Section sending message -->
            <section class="cont-footer">
               <a href="#"><i class="far fa-smile"></i></a>
               <!-- Section write message -->
               <div class="write-message">
                    <input type="text" 
                    placeholder="Scrivi un messaggio">
               </div> 
               <a href="#"><i class="fas fa-microphone"></i></a>
            </section>
        </main>
    </div>

    <!-- JS -->
    <script src="./js/main.js"></script>

    <!-- Fine esercizio Boolzapp Milestone 1 -->
    
</body>
</html>